.footer-container {
  height: 200px;
  background-color: maroon;
  padding: 20px 0;

  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
  line-height: normal;
  letter-spacing: normal;
}

.footer-heading-text {
  font-size: xx-large;
  font-weight: 300;
}

.footer-icons {
  display: flex;
  flex-direction: row;
}

.footer-trademark {
}
